/*
	Theme Name: Self
	Theme URI: http://williamheng.com/
	Author: William Heng
	Author URI: http://williamheng.com/
	License: GNU General Public License v2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Fonts */
@font-face {
    font-family: 'OpenSansLightRegular';
    src: url('assets/fonts/open_sans/opensans-light-webfont.eot');
    src: url('assets/fonts/open_sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/open_sans/opensans-light-webfont.woff') format('woff'),
         url('assets/fonts/open_sans/opensans-light-webfont.ttf') format('truetype'),
         url('assets/fonts/open_sans/opensans-light-webfont.svg#OpenSansLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Overalls */
body,
html {
	font-family: 'OpenSansLightRegular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Helvetica, Arial, sans-serif;
}

p {
	margin-top: 20px;
	font-size: 18px;
	line-height: 24px;
}

/* Navbar design */
#top-menu {
	margin-top: 50px;
	padding-top: 20px;
	border-top: 2px solid #EFEFEF;
}

#top-menu a {
	color: #000;
}

#top-menu a:hover {
	color: #08C;
}

#blog-title h1 {
	font-size: 45px;
}

#blog-title a:hover {
	color: #000;
	text-decoration: none;
}

#blog-description {
	margin-left: 5px;
}

#blog-pages ul {
	margin: 5px auto auto 5px;
}

#blog-pages li {
	list-style-type: none;
	float: left;
	text-align: left;
	margin-right: 10px;
	font-size: 14px;
}

#blog-pages a {
	text-decoration: underline;
}

/* Homepage design */
#home-entry-title {
	margin-top: 15px;
}

#home-entry-title h1 {
	font-size: 18px;
	line-height: 20px;
}

#home-entry-title a {
	color: #000;
}

#home-entry-title a:hover {
	color: #08C;
	text-decoration: none;
}

#home-entry-image img {
	max-width: 300px;
	max-height: 150px;
}

#home-entry-content {
	margin-top: 10px;
}

/* Single page design */
#entry-title h1 {
	font-size: 30px;
	line-height: 38px;
}

#entry-timestamp {
	font-size: 14px;
}

#entry-title, #entry-timestamp {
	color: #3E3E3E;
}

#entry-content h1 {
	font-size: 25px;
	margin-bottom: -20px;
}

#entry-content blockquote p {
	color:#FA4B2A;
	font-size: 18px;
}

/* Footer design */
#bottom-row {
	border-top: 2px solid #EFEFEF;
	padding-top: 20px;
}

#footer {
	min-height: 50px;
}

#footer a {
	color: #08c;
}

/* Search design */
#search-header {
	margin-left: 10px;
}

#search-entry-title h1 {
	font-size: 18px;
	line-height: 20px;
}

#search-entry-content p {
	margin-top: 0px;
}

/* Custom add-on for Twitter Bootstrap alignment */
.pulldown10 { margin-top: 10px; }
.pulldown20 { margin-top: 20px; }
.pulldown30 { margin-top: 30px; }
.pulldown40 { margin-top: 40px; }
.pulldown50 { margin-top: 50px; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/* Wordpress alignment */
.aligncenter { text-align: center; margin-left: auto; margin-right: auto; display: block; }
.alignleft { text-align: left; margin-left: 0px !important; display: block; }
.alignright { text-align: right; margin-right: 0px !important; display: block; }